html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* VARIABLES =================================== */
/* MIXINS ====================================== */
/* SITE STYLES ================================= */
html {
  background-color: #ebeff5;
  background-image: url(http://conftweets.com/img/noise.png); }

body {
  width: 100%;
  color: #273954;
  font-family: sans-serif; }

h1 {
  text-align: center;
  padding: 2em 0em 1.5em;
  display: block;
  width: 100%;
  background-color: black;
  font-style: italic;
  font-family: "jubilat", sans-serif;
  color: white;
  font-size: 2.6em;
  text-shadow: 0 0 1em black;
  background-color: #151f2d;
  background-image: -moz-linear-gradient(top, #1f2d42, #070a0e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1f2d42), to(#070a0e));
  background-image: -webkit-linear-gradient(top, #1f2d42, #070a0e);
  background-image: -o-linear-gradient(top, #1f2d42, #070a0e);
  background-image: linear-gradient(to bottom, #1f2d42, #070a0e);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF1F2D42', endColorstr='#FF070A0E', GradientType=0);
  box-shadow: 0 -0.2em 1em #070a0e; }

.maincontent {
  max-width: 40em;
  margin: 0 auto;
  width: 95%; }
  .maincontent p {
    padding: 5em 1em 1em;
    font-size: 1em;
    line-height: 1.4;
    text-shadow: 1px 1px 0 #fcfdfe; }

#conflist li {
  border: 1px solid #b7c6dd;
  border-radius: .4em;
  margin: 2em 0em;
  box-shadow: inset 0 0.5em 2em #ebeff5, 0 0 1em #b7c6dd;
  background-color: #d9e1ed;
  padding: 1em 1em 0;
  text-shadow: 1px 1px 0px #ebeff5;
  -webkit-transition: all 0.05s ease-in-out;
  -moz-transition: all 0.05s ease-in-out;
  transition: all 0.05s ease-in-out; }
  #conflist li:hover {
    background-color: #e4eaf2;
    position: relative;
    bottom: 2px;
    box-shadow: inset 0 0.5em 2em white, 0 0.2em 1em #a5b9d5; }
  #conflist li:first-of-type {
    border: none;
    background-color: #e0e7f1; }
    #conflist li:first-of-type h2 {
      font-size: 2em; }
  #conflist li h2 {
    font-family: "ff-dax-compact-web-pro",sans-serif;
    font-weight: bold;
    padding: .2em 0; }
  #conflist li p {
    font-size: 0.7em;
    padding: 0.25em 1.3em;
    margin: 1em -1.5em -0.2em -1.4em;
    border-top: 1px solid #d9e1ed;
    border-bottom: 1px solid #c8d4e5;
    background-color: #273954;
    border-bottom-left-radius: .55em;
    border-bottom-right-radius: .55em;
    color: #d2dcea;
    text-shadow: 0 0 0;
    line-height: 2; }
    #conflist li p a {
      color: #ebeff5; }
      #conflist li p a:hover {
        text-decoration: underline; }
  #conflist li .ss-icon {
    margin-right: 0.5em;
    position: relative;
    top: 2px; }
  #conflist li .location, #conflist li .date, #conflist li .webaddress {
    padding-right: 2em; }

a {
  color: #385176;
  text-decoration: none;
  -webkit-transition: all 0.05s ease-in-out;
  -moz-transition: all 0.05s ease-in-out;
  transition: all 0.05s ease-in-out; }
  a:hover {
    color: black; }

footer {
  width: 75%;
  max-width: 40em;
  margin: 0 auto;
  text-align: center;
  border-top: 2px solid #a5b9d5;
  margin-top: 1em;
  padding: 2em;
  color: #a5b9d5; }
  footer a {
    color: #839dc4; }
