@import "reset";
@import "mixin";

/* VARIABLES =================================== */

$brand: rgba(72,105,153,1);

/* MIXINS ====================================== */



/* SITE STYLES ================================= */

html {
	background-color: lighten($brand, 40%);
	background-image: url(http://conftweets.com/img/noise.png);
	}

body {
	width: 100%;
	color: darken($brand, 20%);
	font-family: sans-serif;
	}

h1 {
	text-align: center;
	padding: 2em 0em 1.5em;
	display: block;
	width: 100%;
	background-color: darken($brand, 45%);
	font-style: italic;
	font-family: "jubilat", sans-serif;
	color: lighten($brand, 37%);
	font-size: 2.6em;
	text-shadow: 0 0 1em darken($brand, 60%);
	@include gradient-vertical(darken($brand, 25%),darken($brand, 40%));
	box-shadow:0 -0.2em 1em darken($brand, 40%);
	}

.maincontent {
	max-width: 40em;
	margin: 0 auto;
	width: 95%;
	}

.maincontent p {
	padding-top: 5em;
	font-size: 1em;
	line-height: 1.4;
	text-shadow: 1px 1px 0 lighten($brand, 45%);
	}

#conflist~a {
	display: block;
	}

#conflist li {
	border: 1px solid lighten($brand,35%);
	border-radius:.4em;
	margin: 2em 0em;
	box-shadow: inset 0 0.5em 2em lighten($brand, 50%), 0 0 1em lighten($brand, 35%);
	background-color: lighten($brand, 45%);
	padding: 1em 1em 0;
	text-shadow: 1px 1px 0px lighten($brand, 50%);
	@include transition(0.05s);
	&:hover {
		background-color: lighten($brand, 48%);
		position: relative;
		bottom: 2px;
		box-shadow: inset 0 0.5em 2em lighten($brand, 60%), 0 0.2em 1em lighten($brand, 30%);
		}
	&:first-of-type {
		h2 {
			font-size: 2em;
			}
		border: none;
		background-color: lighten($brand, 47%);
		}
	h2 {
		font-family: "ff-dax-compact-web-pro",sans-serif;
		font-weight: bold;
		padding:.2em 0;
		}
	p {
		font-size:0.7em;
		padding: 0.25em 1.3em;
		margin: 1em -1.5em -0.2em -1.4em;
		border-top: 1px solid lighten($brand, 45%);
		border-bottom: 1px solid lighten($brand, 40%);
		background-color: darken($brand, 20%);
		border-bottom-left-radius: .55em;
		border-bottom-right-radius: .55em;
		color: lighten($brand, 43%);
		text-shadow: 0 0 0;
		line-height:2;
		a {
			color: lighten($brand, 50%);
			&:hover {
				text-decoration: underline;
				}
			}
		}
	.ss-icon {
		margin-right: 0.5em;
		position: relative;
		top:2px;
		}
	.location, .date, .webaddress {
		padding-right: 2em;
		}
	}

a {
	color: darken($brand, 10%);
	text-decoration: none;
	@include transition(0.05s);
	&:hover {
		color: darken($brand, 80%);
		}
	}

footer {
	width: 50%;
	margin: 0 auto;
	text-align: center;
	border-top:2px solid lighten($brand, 30%);
	margin-top:1em;
	padding: 2em;
	color: lighten($brand, 30%);
}